<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jun.cloud.service.mapper.SubTableMapper">

    <select id="createSubTable" parameterType="string">
        ${sql}
    </select>

    <select id="findBySql" parameterType="string" resultType="string">
        ${sql}
    </select>


</mapper>
