<?xml version="1.0" encoding="UTF-8"?>


<!--查看博客https://blog.csdn.net/java_collect/article/details/88243082-->
<configuration scan="true" scanPeriod="60 seconds" debug="false" packagingData="true">

    <!-- 用来设置上下文名称，每个logger都关联到logger上下文，默认上下文名称为default。但可以使用<contextName>设置成其他名字，
    用于区分不同应用程序的记录。一旦设置，不能修改。-->
    <contextName>springmvc-demo</contextName>



    <!--用来定义变量值，它有两个属性name: 变量的名称,value: 变量定义的值，定义的值会被插入到logger上下文中，可以使用“${}”来使用变量。 -->
<!--    <property name="LOG_HOME" value="${catalina.base}/logs/${contextName}/" />-->
    <property name="APP_NAME" value="springmvc-demo/" />
    <property name="LOG_HOME" value="d://logs/${APP_NAME}" />


    <!--获取时间戳字符串，他有两个属性key和datePattern。  key: 标识此<timestamp> 的名字；datePattern:
    设置将当前时间（解析配置文件的时间）转换为字符串的模式，遵循java.txt.SimpleDateFormat的格式。
    这个属性很少使用-->
    <timestamp key="keyValue" datePattern="yyyy-MM-dd" />




    <!--日志级别及输出格式的配置-->


    <!-- 控制台输出时的格式配置 -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <!--格式化输出：%d表示日期，%thread表示线程名，%-5level：级别从左显示5个字符宽度%msg：日志消息，%n是换行符-->
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level [%logger{15}:%line] - %msg%n</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <!--appender负责控制输出日志格式和地方-->
    <appender name="file" class="ch.qos.logback.core.rolling.RollingFileAppender">

        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <!-- rollover daily -->
            <fileNamePattern>${LOG_HOME}/log_%d{yyyy-MM-dd}_%i.log</fileNamePattern>
            <!-- each file should be at most 5MB, keep 60 days worth of history, but at most 20GB -->
            <maxFileSize>5MB</maxFileSize>
            <maxHistory>60</maxHistory>
            <totalSizeCap>20GB</totalSizeCap>
        </rollingPolicy>

        <encoder>
            <pattern>%d{yyyy-MM-dd'T'HH:mm:ss.SSSXXX} [%thread] %-5level [%logger{15}:%line] - %msg%n</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>



    <!--
    logger,有三个属性。另外需要指定appender-ref
    name: 用来指定受此logger约束的某一个包或者具体的某一个类
    level: 用来设置打印级别，大小写无关，如果未设置此属性，那么当前logger将会继承上级的级别
    additivity: 是否向上级logger传递打印信息。默认是true-->
    <logger name="com.jun.cloud.restful.controller" level="debug" additivity="false">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="file"/>
    </logger>


    <!-- 默认日志输出级别 -->
    <root level="info">
        <appender-ref ref="STDOUT" />
    </root>





</configuration>
